<link *ngIf="env.cssUrl" rel="stylesheet" [href]='sanitizer.bypassSecurityTrustResourceUrl(env.cssUrl)'>
<button (click)="switchCss()" *ngIf="false">Switch CSS</button>


<div *ngIf="env.css === 'Bootstrap'">
  <nav class="navbar navbar-light bg-light">
    <div class="navbar-brand">itenium</div>
  </nav>

  <div class="container">
    <!-- Could use a NgComponentOutlet for this instead. -->
    <!-- https://angular.io/api/common/NgComponentOutlet -->
    <form>
      <div *ngFor="let config of formConfig" [ngSwitch]="config.type">
        <app-email *ngSwitchCase="'email'" [config]="config"></app-email>
        <app-secret *ngSwitchCase="'secret'" [config]="config"></app-secret>
        <app-toggle *ngSwitchCase="'toggle'" [config]="config"></app-toggle>
        <app-submit *ngSwitchCase="'submit'" [config]="config"></app-submit>
      </div>
    </form>
  </div>
</div>



<div *ngIf="env.css === 'Foundation'">
  <div class="top-bar">
    <div class="top-bar-left">
      <div class="menu-text">itenium</div>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><input type="search" placeholder="Search"></li>
        <li><button type="button" class="button">Search</button></li>
      </ul>
    </div>
  </div>

  <div class="grid-container">
    <form>
      <div *ngFor="let config of formConfig" [ngSwitch]="config.type">
        <app-email *ngSwitchCase="'email'" [config]="config"></app-email>
        <app-secret *ngSwitchCase="'secret'" [config]="config"></app-secret>
        <app-toggle *ngSwitchCase="'toggle'" [config]="config"></app-toggle>
        <app-submit *ngSwitchCase="'submit'" [config]="config"></app-submit>
      </div>
    </form>
  </div>
</div>
