<div>
  <nav class="navbar navbar-light bg-light">
    <div class="navbar-brand">itenium</div>
  </nav>

  <div class="container">
    <form *ngIf="true">
      <div *ngFor="let config of formConfig" [ngSwitch]="config.type">
        <app-email *ngSwitchCase="'email'" [config]="config"></app-email>
        <app-secret *ngSwitchCase="'secret'" [config]="config"></app-secret>
        <app-toggle *ngSwitchCase="'toggle'" [config]="config"></app-toggle>
        <app-submit *ngSwitchCase="'submit'" [config]="config"></app-submit>
      </div>
    </form>



    <form *ngIf="false">
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" />
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" />
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" />
        <label class="form-check-label">Remain logged in</label>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>
